{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Primary Meta Tags -->
  <title>Login</title>
  <!-- CSS DO BOOTSPTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <!-- MEU CSS -->
  <link rel="stylesheet" href="{% static 'login/css/loginstyle.css' %}">

</head>

<body>
    <section class="h-100">
		<div class="container h-100 my-4">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">

					<div class="card shadow-lg">
						<div class="card-body p-5 justify-content-center mb-3">
                            <div class="d-flex justify-content-center mb-4">
                                <img src="{% static 'login/images/racer_icon_n.png' %}" alt="logo" width="100">
                            </div>
							<form method="POST" class="needs-validation" novalidate="" autocomplete="off">
								<div class="mb-3">
									<label class="mb-2 text-muted" for="email">Usuário</label>
									<input id="usuario" type="text" class="form-control" name="usuario" value="" required autofocus>
								</div>

								<div class="mb-3">
									<div class="mb-2 w-100">
										<label class="text-muted" for="password">Senha</label>
									</div>
									<input id="password" type="password" class="form-control" name="password" required>
								</div>

								<div class="d-flex justify-content-center">
									<button type="submit" class="btn btn-primary btn-entrar">
										Entrar
									</button>
								</div>
							</form>
						</div>
					</div>
					<div class="text-center mt-2 text-muted" style="color: white !important;;">
						Copyright &copy; 2023 &mdash; SDTS-2 
					</div>
				</div>
			</div>
		</div>
	</section>
    <!-- MEU JS -->
    <!-- JS DO BOOTSPTRAP -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>

</html>

